{% extends "base.html" %}
{%block head %}
<title>Add food to freezer</title>
{% endblock %}
{% block content %}
{% include 'item.html' %}
	<div id="sidebar">
		<ul><b>Implemented:</b>
		<li>Pre-fill default date with today</li>
		<li>Date is in the future - fix and make it today's date</li>
		<li>Thaw date will be empty until item is removed</li>
		<li>Pre-fill data with last submission to allow multiple tags to be scanned in a row</li>
		<li>Standardize capitalization on item text</li>
		<li>Reject Duplicate tags</li>
		<li>Remove default notes</li>
	</ul>
	</div>
{% endblock %}
