<form class="item" method="get" action="/add">
<h3>Info for One Portion</h3>
<h3 id="error">{{form.error}}</h3>
<p>Portions are individually tagged. Multi-portion packages will have a tag for each portion.</p>
<label for="name">Item</label>
<input type="text" id="name" name="name" required value="{{form.name}}"><br>
<label for="qty">Portion Size</label>
<input type="number" id="qty" name="qty" value={{form.qty}}><br>
<label for="lbs">Portion Weight (lbs)</label>
<input type="number" step=0.01 id="lbs" name="lbs" {% if form.lbs %}value={{((16*form.lbs)//16)|int}} {% endif %}>
<label for="oz">(oz)</label>
<input type="number" step=0.1 id="oz" name="oz" {% if form.lbs %}value={{((16*form.lbs)%16)|int}}{% endif %}><br>
<label for="tag">RFID Tag</label>
<input type="number" id="tag" name="tag" value={{form.tag}} required><br>
<label for="freezer">Location</label>
<select id="freezer" name="freezer" value="{{form.freezer}}">
	<option class="fr" value="fr1" {{form.fr1}}>Chest Freezer</option>
	<option class="fr" value="fr2" {{form.fr2}}>Vertical Freezer</option>
	<option class="fr" value="fr3" {{form.fr3}}>Kitchen Freezer</option>
</select><br>
<textarea id="notes" name="notes">{{form.notes}}</textarea><br>
<label for="freeze">Freeze Date</label>
<input type="date" id="freeze" name="freeze" value="{{form.freeze}}"><br>
{% if form.thaw %}
<label for="thaw">Thaw Date</label>
<input type="date" id="thaw" name="thaw" value="{{form.thaw}}"><br>
{% endif %}
<input type="submit" value="Save">
</form>
