{% extends "base.html" %}
{% block head %}
<title>Lookup freezer food</title>
<style>
{% if not form.tag %}
.item {
	display:none;
}
{% endif %}
</style>
{% endblock %}
{% block content %}
	<form method="get">
		<h3 id="error">{{error}}</h3>
		<h3>Please scan a tag</h3>
		<label for="rfid">RFID Tag</label>
		<input type="number" id="rfid" name="tag" required><br>
		<input type="submit">
	</form>
	{% include 'item.html' %}
<script>
	document.getElementById("rfid").focus();
</script>
{% endblock %}
